#admin-menu a.magic-link-rules {
    background-image: url(../images/streamline-icon-link-broken-2@48x48.png);
    background-size: 16px;
}

.icon-magic-link-rules {
    background-image: url(../images/streamline-icon-link-broken-2@48x48.png);
    background-size: 16px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

#magic_link_rule .value {
    font-weight: bold;
}
